*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.gradle/
build/
*.apk
*.aar
*.ap_
*.aab
.idea
proguard/
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/